**/__pycache__
.DS_Store

dist
*.egg-info

# credentials
*.env

# virtual environment
venv
.venv

# temporary files
tmp*
temp*

# image files
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.pdf
# audio files
*.m4a
*.mp3
*.mp4
*.wav
*.flac
*.aac

# test output
.coverage*
.pytest_cache
htmlcov

# ruff output
.ruff_cache

